@import "tailwindcss";
@import "./border.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* === Gradient Colors === */
    --gradient-color: hsl(219, 100%, 65%);
    --gradient-color-secondary: hsl(190, 100%, 50%);
}

.dark {
    color-scheme: dark;
}
